
$white: #ffffff;
$btnbackground: #998675;
$headingcolor: #555555;
$darkparacolor: #8c8c8c;
$gradientstop1: #4d3327;
$gradientstop2: #211b19;
$lightbackcolor: #fbfaf8;
$lightbrownbackcolor: #362f2d;
$verydarkbackcolor: #111111;
$darkbackcolor: #191919;
$browntextcolor: #c7b299;
$lightgraycolor: #959595; 
$paraspecialcolor: #615855;

$parafont:'Montserrat Light';
$headingfont:'Raleway SemiBold';
